.aside {
    background-color: var(--color-light);
    position: relative;
}

.aside-inner {
    /* background-color: red; */
    width: 100%;
    /* max-height: 800px; */
    padding: 30px;
    overflow-y: scroll;
}

/* Aside Header */
.aside-inner__header {
    font-size: 2.6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

/* Aside Form */
.aside-inner__form {
    margin: 30px 0 40px 0;
    display: flex;
}

.aside-form__input {
    background-color: transparent;
    color: var(--color-primary);
    flex: 1;
    font-family: var(--font-primary);
    font-size: 2rem;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    border-top: 1px solid transparent;
}

.aside-form__input::placeholder {
    color: var(--color-primary);
    opacity: .5;
    font-family: var(--font-primary);
    font-size: 2rem;
}

.aside-form__button {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 20px;
    padding: 5px 15px;
    border-radius: 20px;
}

/* Aside Project List */
.project-list-container {
    display: flex;
    flex-direction: column;
}

/* Project Box */
.project-list-container__box {
    background-color: var(--color-light);
    min-height: 100px;
    padding: 10px 10px 10px 20px;
    border: 1px solid var(--color-primary);
    border-left: 10px solid var(--color-primary);
    border-radius: 5px;
    display: flex;
}

.project-list-container__box:not(:first-child) {
    margin-top: 20px;
}

.project-box__content-container {
    flex: 1;
}

.project-box__icon-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.project-box__icon {
    font-size: 2rem;
}

.project-box__title {
    font-size: 2rem;
    margin-bottom: 5px;
}

.project-box__summary {
    font-size: 1.6rem;
    font-weight: var(--font-weight-light);
    line-height: 1.3;
}

.project-box__notification {
    font-size: 1.4rem;
    font-weight: var(--font-weight-light);
    margin-top: 10px;
}

.project-box__button {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 25px;
    padding: 5px 20px;
    border-radius: 5px;
}

.project-box__button-icon {
    margin-right: 5px;
}



/* Minimize Aside Button */
.aside-minimize__button {
    position: absolute;
    top: 0;
    right: 0;
}

.aside-minimize__button-icon {
    font-size: 30px;
    padding: 10px;
}

.btn-full-width {
    width: 100%;
}



/* ----- Media Queries ----- */
@media only screen and (max-width: 600px) {
    .aside-form__input {
        font-size: 1.6rem;
        width: calc(-10px);
    }

    .aside-form__input::placeholder {
        font-size: 1.6rem;
    }

    .aside-form__button {
        font-size: 1.6rem;
        margin-left: 10px;
        padding: 3px 10px;
        white-space: nowrap;
    }
}