.nav {
    background-color: var(--color-light);
    height: 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Header*/
.nav__header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__header {
    font-size: 40px;
}

.nav__header-icon {
    font-size: 40px;
    margin-right: 15px;
}

/* Navigation Links */
.nav-links__button:not(:last-child) {
    margin-right: 10px;
}

.nav-links__button-icon {
    font-size: 30px;
    padding: 10px;
}


/* ----- Media Queries ----- */
@media only screen and (max-width: 600px) {
    .nav {
        height: 80px;
    }

    /* Navigation Header */
    .nav__header {
        font-size: 30px;
    }

    .nav__header-icon {
        font-size: 30px;
        margin-right: 10px;
    }

    /* Navigation Links */
    .nav-links__button:not(:last-child) {
        margin-right: 5px;
    }

    .nav-links__button-icon {
        font-size: 26px;
        padding: 5px;
    }
}