:root {
    /* ----- Fonts ----- */
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Ubuntu', sans-serif;

    /* ----- Font Weight ----- */
    --font-weight-light: 100;
    --font-weight-medium: 500;
    --font-weight-heavy: 900;

    /* ----- 🌈 Colours 🌈 ----- */
    /* 'Stella' Theme */
    --color-primary: #474747;
    --color-light: #ffffff;
    --color-dark: #f1f1f1;

    /* 'Eclipse' Theme */
    /* --color-primary: #f1f1f1;
    --color-light: #333333;
    --color-dark: #3f3f3f; */

    /* ----- Box Shadow ----- */
    --shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-secondary);
    font-size: 62.5%;
    color: var(--color-primary);
}



/* Universal Buttons */
button {
    font-family: var(--font-primary);
}

button:hover {
    cursor: pointer;
}

.btn-transparent {
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    position: relative;
}

.btn-transparent:hover {
    filter: brightness(95%);
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
}

.btn-primary {
    background-color: var(--color-light);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
    border: 1px solid var(--color-primary);
}

.btn-secondary {
    background-color: var(--color-dark);
    color: var(--color-primary);
    border: 1px solid var(--color-dark);
}

.btn-secondary:hover {
    filter: brightness(95%);
}


/* Links */
.text-link {
    color: var(--color-primary);
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 5px;
}

.text-link:hover {
    cursor: pointer;
    filter: brightness(95%);
}

/* Text Styling */
.bold-text {
    font-weight: var(--font-weight-heavy);
}


/* General */
.container {
    background-color: var(--color-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    min-height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: 500px auto;
    grid-gap: 20px;
}

.content-container__aside-small {
    grid-template-columns: 50px auto;
}



/* ----- Media Queries ----- */
@media only screen and (max-width: 600px) {
    .text-link {
        padding-bottom: 3px;
    }

    .content-container {
        flex-direction: column;
        grid-template-columns: 100%;
        grid-template-rows: 500px auto;
    }
}