:root {
    /* Fonts */
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Ubuntu', sans-serif;

    /* Font Weight */
    --font-weight-light: 100;
    --font-weight-medium: 500;
    --font-weight-heavy: 900;

    /* Colours */
    --color-primary: #474747;
    --color-light: #ffffff;
    --color-dark: #f1f1f1;

    --color-primary: #f1f1f1;
    --color-light: #333333;
    --color-dark: #3f3f3f;

    /* Box Shadow */
    --shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-secondary);
    font-size: 62.5%;
    color: var(--color-primary);
}



/* Universal Buttons */
button:hover {
    cursor: pointer;
}

.btn-transparent {
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    position: relative;
}

.btn-transparent:hover {
    filter: brightness(95%);
}





.container {
    background-color: var(--color-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-notification-bar {
    background-color: black;
    text-align: center;
    position: relative;
}

.top-notification-bar__text {
    font-size: 1.6rem;
    font-weight: var(--font-weight-light);
    line-height: 1.5;
    padding: 15px 100px;
}

.top-notification-bar__button {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Temporary */
.main {
    flex: 1;
}